body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/code.png);
    background-size: cover;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    background-color: #001018;
}

footer {
    background-color: #001018;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgba(131, 49, 185, 0.8);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f54ecb;
}

#menu-h {
    background-color: rgba(131, 49, 185, 0.8);
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 50px 0px;
    text-align: left;
}

#menu-h ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline: 50px;
}

#menu-h ul li {
    display: inline-block;
    margin-right: 100px;
}

#menu-h ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

#menu-h ul li a:hover {
    color: rgba(0, 0, 0, 0.8);
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-direction {
    position: absolute;
    z-index: 2;
    top: 70%;
    transform: translateY(50%);
    display: flex;
}

.botao {
    padding: 50px 50px;
    text-decoration: none;
    font-size: 26px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: rgba(131, 49, 185, 0.8);
    margin-right: 100px;
    margin-left: 100px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#myForm {
    max-width: 300px;
    margin: 0 auto;
}

#img {
    background-image: none;
}

/* Adicione estas regras de mídia no final do seu CSS */

@media only screen and (max-width: 600px) {
    #menu-h ul li {
        margin-right: 20px; /* Ajuste o espaçamento entre os itens do menu para dispositivos móveis */
    }

    #btn-direction {
        flex-direction: column; /* Alinhe os botões verticalmente para dispositivos móveis */
        text-align: center;
    }

    .botao {
        margin: 0 0 10px 0; /* Adicione margem entre os botões para dispositivos móveis */
    }

    #menu-h ul {
        padding-inline: 0; /* Remova o preenchimento lateral do menu para dispositivos móveis */
    }
}
